.main-chat
  .main-chat__group-info
    .main-chat__group-info__text
      =@group.name
      .main-chat__group-info__text__member
      - @group.users.each do |user|
        =user.name

    .main-chat__group-info__edit
      =link_to 'Edit',edit_group_path(@group)

  .main-chat__list
    = render @messages
        
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "form.new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'